.filters {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.filters .filters__wrapper {
  padding: 50px 90px;
}

.filters .filters__controls {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filters .filters__items {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: flex-start;
}

.filter-select {
  color: #fff;
  font-size: 16px;
  border-bottom: 1px dashed #fff;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.filter-select svg {
  margin-left: 20px;
}


.filter-checkbox {
  color: #626262;
  cursor: pointer;
  display: flex;
  align-items: center;
}

.filter-checkbox label{
  margin-right: 20px;
}

.breed {
  color: #626262;
  border: 1px solid #626262;
  border-radius: 20px;
  padding: 4px 12px;
  margin-right: 15px;
  margin-top: 15px;
  transition: .2s;
}

.breed:hover {
  color: #3C59F0;
  border: 1px solid #3C59F0;
}

.breed--active {
  color: #3C59F0;
  border: 1px solid #3C59F0;
}



